<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.tenement.dao.ToolsMapper">
  <resultMap id="BaseResultMap" type="com.bs.tenement.bean.Tools">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="t_no" jdbcType="VARCHAR" property="tNo" />
    <result column="y_type" jdbcType="VARCHAR" property="yType" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="max_weight" jdbcType="INTEGER" property="maxWeight" />
    <result column="max_bulk" jdbcType="INTEGER" property="maxBulk" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, t_no, y_type, num, max_weight, max_bulk
  </sql>
  
  <select id="select" parameterType="String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tools
    where t_no = #{tNo,jdbcType=VARCHAR}
  </select>
  
  <select id="selectList" parameterType="Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tools
    <where>
    	<if test="yType != null">
        y_type = #{yType,jdbcType=VARCHAR}
      </if>
    </where>
    limit #{offset}, #{limit}
    order by max_weight desc
  </select>
  
  <select id="selectCount" parameterType="Map" resultType="int">
    select 
    count(*)
    from tools
    <where>
    	<if test="yType != null">
        y_type = #{yType,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
  <delete id="delete" parameterType="String">
    delete from tools
    where t_no = #{tNo,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.bs.tenement.bean.Tools">
    insert into tools (id, t_no, y_type, 
      num, max_weight, max_bulk
      )
    values (#{id,jdbcType=INTEGER}, #{tNo,jdbcType=VARCHAR}, #{yType,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{maxWeight,jdbcType=INTEGER}, #{maxBulk,jdbcType=INTEGER}
      )
  </insert>
  
  <update id="update" parameterType="com.bs.tenement.bean.Tools">
    update tools
    <set>
      <if test="yType != null">
        y_type = #{yType,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="maxWeight != null">
        max_weight = #{maxWeight,jdbcType=INTEGER},
      </if>
      <if test="maxBulk != null">
        max_bulk = #{maxBulk,jdbcType=INTEGER},
      </if>
    </set>
    where t_no = #{tNo,jdbcType=VARCHAR}
  </update>

</mapper>