<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.tenement.dao.WayMapper">
  <resultMap id="BaseResultMap" type="com.bs.tenement.bean.Way">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="w_no" jdbcType="VARCHAR" property="wNo" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="o_id" jdbcType="VARCHAR" property="oId" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, w_no, addr, create_time, o_id
  </sql>
  
  <select id="select" parameterType="String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from way
    where w_no = #{wNo,jdbcType=VARCHAR}
  </select>
  
  <select id="selectList" parameterType="Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from way
    where o_id = #{oId,jdbcType=VARCHAR}
    order by create_time desc
  </select>
  
  <select id="selectCount" parameterType="Map" resultType="int">
    select 
    count(*)
    from way
    where o_id = #{oId,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="String">
    delete from way
    where w_no = #{wNo,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.bs.tenement.bean.Way">
    insert into way (id, w_no, addr, 
      create_time, o_id)
    values (#{id,jdbcType=INTEGER}, #{wNo,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=INTEGER}, #{oId,jdbcType=VARCHAR})
  </insert>
  
  <update id="update" parameterType="com.bs.tenement.bean.Way">
    update way
    <set>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="oId != null">
        o_id = #{oId,jdbcType=VARCHAR},
      </if>
    </set>
    where w_no = #{wNo,jdbcType=VARCHAR}
  </update>
  
</mapper>